<%- include('../../layouts/adminHeader') -%>
    <main>
        <div class="container-fluid px-4">
            <ol class="breadcrumb my-4">
                <li class="breadcrumb-item"><a href="/admin">Bản Tin</a></li>
                <li class="breadcrumb-item active">Người Dùng</li>
            </ol>
            <div class="card mb-4">
                <div class="card-body">
                    <a class="btn btn-primary" href="/admin/user/create">Thêm mới</a>
                </div>
            </div>
            <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-table me-1"></i>
                    Danh sách
                </div>
                <div class="card-body">
                    <table class="js-datatablesSimple">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Tên</th>
                                <th>Tài khoản</th>
                                <th>Email</th>
                                <th>SĐT</th>
                                <th>Ngày sinh</th>
                                <th>Giới tính</th>
                                <th>Địa chỉ</th>
                                <th>Quyền</th>
                                <th data-sortable="false">Chức năng</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% let count = 1 %>
                            <% userList.forEach(function(user){ %>
                                <tr>
                                    <td><%= count++ %></td>
                                    <td><%= user.fullName %></td>
                                    <td><%= user.username %></td>
                                    <td><%= user.email %></td>
                                    <td><%= user.phoneNumber %></td>
                                    <td><%= user.DoB %></td>
                                    <td><%= userGendersForDisplay.find(item => item.value === user.gender).text %></td>
                                    <td><%= user.address || '?' %></td>
                                    <td><%= userRolesForDisplay.find(item => item.value === user.role).text %></td>
                                    <td style="text-align:center; white-space: nowrap;">
                                        <a class="btn btn-primary" href="/admin/user/details/<%=user.id%>">Xem</a>
                                        <a class="btn btn-secondary" href="/admin/user/edit/<%=user.id%>">Sửa</a>
                                        <button class="btn btn-danger" onclick="DeleteUser('<%=user.id%>')">Xoá</button>
                                    </td>
                                </tr>
                            <% }) %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </main>
    <script>
        function DeleteUser(id) {
            if (confirm('Bạn có chắc muốn xoá người dùng ?')) {
                fetch('/admin/user/delete/'+id, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    }
                })
                    .then((response) => response.json())
                    .then((data) => {
                        alert(data.message);
                        window.location = '/admin/user'
                    })
                    .catch((error) => {
                        console.error('Error:', error);
                    });
            }
        }
    </script>
<%- include('../../layouts/adminFooter') -%>
