<%- include('../layouts/homeHeader') -%>
    <div class="login-page bg-image pt-8 pb-8 pt-md-12 pb-md-12 pt-lg-17 pb-lg-17" style="background-image: url('/images/login-bg.jpg')">
        <div class="container">
            <div class="form-box">
                <div class="form-tab">
                    <ul class="nav nav-pills nav-fill" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="signin-tab-2" data-toggle="tab" href="#signin-2" role="tab" aria-controls="signin-2" aria-selected="true">Đăng Nhập</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="register-tab-2" data-toggle="tab" href="#register-2" role="tab" aria-controls="register-2" aria-selected="false">Đăng Ký</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="signin-2" role="tabpanel" aria-labelledby="signin-tab-2">
                            <form action="/profile/login" method="post">

                                <% locals.loginErrors && loginErrors.forEach(err => { %>
                                    <div class="alert alert-warning alert-dismissible fade show mb-1" role="alert">
                                        <span class="error-<%= err.param %>"><%= err.msg %></span>
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                          <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                <% }); %>

                                <div class="form-group">
                                    <label for="singin-email-2">Tài khoản *</label>
                                    <input type="text" class="form-control" id="singin-email-2" name="username">
                                </div><!-- End .form-group -->

                                <div class="form-group">
                                    <label for="singin-password-2">Mật khẩu *</label>
                                    <input type="password" class="form-control" id="singin-password-2" name="password">
                                </div><!-- End .form-group -->

                                <div class="form-footer">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="signin-remember-2" name="rememberPass">
                                        <label class="custom-control-label" for="signin-remember-2">Remember Me</label>
                                    </div><!-- End .custom-checkbox -->

                                    <button type="submit" class="btn btn-outline-primary-2">
                                        <span>Đăng Nhập</span>
                                        <i class="icon-long-arrow-right"></i>
                                    </button>
                                </div><!-- End .form-footer -->
                            </form>
                        </div><!-- .End .tab-pane -->
                        <div class="tab-pane fade" id="register-2" role="tabpanel" aria-labelledby="register-tab-2">
                            <form action="/profile/register" method="post">

                                <% locals.registerErrors && registerErrors.forEach(err => { %>
                                    <div class="alert alert-warning alert-dismissible fade show mb-1" role="alert">
                                        <span><%= err.msg %></span>
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                          <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                <% }); %>

                                <div class="form-group">
                                    <label for="fullName">Tên *</label>
                                    <input type="text" class="form-control" id="fullName" name="fullName">
                                </div><!-- End .form-group -->

                                <div class="form-group">
                                    <label for="username">Tài khoản *</label>
                                    <input type="text" class="form-control" id="username" name="username">
                                </div><!-- End .form-group -->

                                <div class="form-group">
                                    <label for="password">Mật khẩu *</label>
                                    <input type="password" class="form-control" id="password" name="password">
                                </div><!-- End .form-group -->

                                <div class="form-group">
                                    <label for="email">Email *</label>
                                    <input type="text" class="form-control" id="email" name="email">
                                </div><!-- End .form-group -->

                                <div class="form-group">
                                    <label for="phoneNumber">Số điện thoại *</label>
                                    <input type="text" class="form-control" id="phoneNumber" name="phoneNumber">
                                </div><!-- End .form-group -->

                                <div class="form-group">
                                    <label for="DoB">Ngày sinh *</label>
                                    <input type="date" class="form-control" id="DoB" name="DoB">
                                </div><!-- End .form-group -->

                                <div class="form-group">
                                    <label>Giới tính *</label>
                                    <div>
                                        <% userGendersForDisplay.forEach(function (gender) { %>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" name="gender" value="<%=gender.value%>" id="gender<%=gender.value%>" <%= gender.value === 0 ? 'checked' : '' %> />
                                                <label class="form-check-label" for="gender<%=gender.value%>">
                                                    <%=gender.text%>
                                                </label>
                                            </div>
                                        <% }) %>
                                    </div>
                                </div><!-- End .form-group -->

                                <div class="form-group">
                                    <label for="address">Địa chỉ *</label>
                                    <input type="text" class="form-control" id="address" name="address">
                                </div><!-- End .form-group -->

                                <div class="form-footer">
                                    <button type="submit" class="btn btn-outline-primary-2">
                                        <span>Đăng Ký</span>
                                        <i class="icon-long-arrow-right"></i>
                                    </button>
                                </div><!-- End .form-footer -->
                            </form>
                        </div><!-- .End .tab-pane -->
                    </div><!-- End .tab-content -->
                </div><!-- End .form-tab -->
            </div><!-- End .form-box -->
        </div><!-- End .container -->
    </div><!-- End .login-page section-bg -->
    <% if (locals.createSuccess) { %>
        <script>
            alert('Đăng ký tài khoản thành công')
            window.location = '/profile/login'
        </script>
    <% } %>
<%- include('../layouts/homeFooter') -%>
