<%- include('../../layouts/adminHeader') -%>
    <style>
        .file-input::-webkit-file-upload-button {
            display: none;
        }
        .file-input {
            border: 1px solid #ccc;
            border-radius:10px;
            cursor: pointer;
        }
        .file-input::before {
            content: 'Thêm ảnh';
            display: inline-block;
            padding: 10px;
            border-right: 1px solid #ccc;
            margin-right: 10px;
            background: -webkit-linear-gradient(top, #f9f9f9, #e3e3e3);
        }
        .img-item {
            position: relative;
            width: 200px;
            height: 150px;
        }
        .img-item img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        .img-item button {
            position: absolute;
            right: 0;
            margin-right: 12px;
            cursor: pointer;
            background-color: #555;
            color: white;
            font-size: 16px;
            padding: 8px 16px;
            border: none;
            border-bottom-left-radius: 5px;
        }
    </style>

    <main class="px-5 py-3">
        <h1 class="mb-3">Cập nhật sản phẩm</h1>
        <form action="/admin/product/edit/<%=productInfo.id%>" method="post" enctype="multipart/form-data">

            <% errors.forEach(err => { %>
                <li class="text-danger mb-2"><%= err.msg %></li>
            <% }); %>
            
            <div class="row mb-3">
                <label for="name" class="col-sm-2 col-form-label">Tên sản phẩm</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="name" id="name" value="<%=productInfo.name%>" required>
                </div>
            </div>

            <div class="row mb-3">
                <label for="categoryId" class="col-sm-2 col-form-label">Danh mục</label>
                <div class="col-sm-10">
                    <select class="form-select" name="categoryId" id="categoryId">
                        <option value="0" selected> --- Chọn --- </option>
                        <% cateList.forEach(function (cate) { %>
                            <option <%=productInfo.category?.id === cate.id ? 'selected' : ''%> value="<%=cate.id%>"><%=cate.name%></option>
                        <% }) %>
                    </select>
                </div>
            </div>

            <div class="row mb-3">
                <label for="img" class="col-sm-2 col-form-label">Ảnh</label>
                <div class="col-sm-10">
                    <input type="file" class="form-control" name="img" id="img">
                </div>
            </div>

            <div class="row mb-3">
                <label for="description" class="col-sm-2 col-form-label">Mô tả</label>
                <div class="col-sm-10">
                    <textarea class="form-control" name="description" id="description" rows="3"><%=productInfo.description%></textarea>
                </div>
            </div>

            <div class="row mb-3">
                <label for="size" class="col-sm-2 col-form-label">Kích cỡ</label>
                <div class="col-sm-10">
                    <input type="text" value="<%=productInfo.size%>" class="form-control" name="size" id="size">
                </div>
            </div>

            <div class="row mb-3">
                <label for="color" class="col-sm-2 col-form-label">Màu sắc</label>
                <div class="col-sm-10">
                    <input type="text" value="<%=productInfo.color%>" class="form-control" name="color" id="color">
                </div>
            </div>

            <div class="row mb-3">
                <label for="material" class="col-sm-2 col-form-label">Chất liệu</label>
                <div class="col-sm-10">
                    <input type="text" value="<%=productInfo.material%>" class="form-control" name="material" id="material">
                </div>
            </div>

            <div class="row mb-3">
                <label for="origin" class="col-sm-2 col-form-label">Xuất xứ</label>
                <div class="col-sm-10">
                    <input type="text" value="<%=productInfo.origin%>" class="form-control" name="origin" id="origin">
                </div>
            </div>

            <div class="row mb-3">
                <label for="price" class="col-sm-2 col-form-label">Giá (đ)</label>
                <div class="col-sm-10">
                    <input type="number" min="0" value="<%=productInfo.price%>" class="form-control" name="price" id="price" required>
                </div>
            </div>

            <div class="row mb-3">
                <label for="discount" class="col-sm-2 col-form-label">Giảm giá (%)</label>
                <div class="col-sm-10">
                    <input type="number" min="0" max="100" value="<%=productInfo.discount%>" class="form-control" name="discount" id="discount" required>
                </div>
            </div>

            <div class="row mb-3">
                <label for="amount" class="col-sm-2 col-form-label">Số lượng tồn</label>
                <div class="col-sm-10">
                    <input type="number" min="0" value="<%=productInfo.amount%>" class="form-control" name="amount" id="amount" required>
                </div>
            </div>

            <button type="submit" class="btn btn-primary">Cập nhật</button>
            <a class="btn btn-secondary ms-2" href="/admin/product">Trở về</a>
        </form>
        <hr>
        <div>
            <h5>Danh sách ảnh sản phẩm</h5>
            <input type="file" id="imgUpload" class="file-input" accept="image/*" multiple>
            <div class="img-list row"></div>
        </div>
    </main>
    <% if (locals.editSuccess) { %>
        <script>
            alert('Cập nhật thành công')
            window.location = '/admin/product'
        </script>
    <% } %>
    <script>
        document.addEventListener("DOMContentLoaded", function(e) { 
            const productId = '<%=productInfo.id%>'
            function LoadImgList() {
                fetch('/admin/product/img-list/' + productId)
                    .then(response => response.json())
                    .then(rs => {
                        const imgListEle = document.querySelector('.img-list')
                        const html = rs.reduce((total, item) => total + `
                            <div class="my-2 img-item">
                                <img src="/images/upload/${item.img || 'default-image.jpg'}" />
                                <button data-id="${item.id}"><i class="fas fa-times"></i></button>
                            </div>
                        `, '')
                        imgListEle.innerHTML = html

                        imgListEle.querySelectorAll('.img-item button').forEach(ele => ele.onclick = function(e) {
                            if (confirm('Bạn có chắc muốn xoá ảnh ?')){
                                fetch('/admin/product/img-list/delete/' + e.currentTarget.dataset.id, {
                                        method: 'POST'
                                    })
                                    .then(response => response.json())
                                    .then(rs => {
                                        if(rs.err) alert('Lỗi xoá ảnh sản phẩm')
                                        LoadImgList()
                                    })
                                    .catch(error => console.log(error))
                            }
                        })
                    })
                    .catch(error => console.log(error))
            }
            LoadImgList()

            // Add product Image
            const imgUpload = document.querySelector('#imgUpload')
            imgUpload.onchange = function(e) {
                if (e.target.files.length > 0) {
                    const data = new FormData()
                    for(const file of e.target.files) {
                        if (!['image/jpeg', 'image/jpg', 'image/png', 'image/gif'].includes(file.type)) continue
                        data.append('imgUpload', file)
                    }

                    fetch('/admin/product/img-list/add/' + productId, {
                        method: 'POST',
                        body: data
                    })
                    .then(response => response.json())
                    .then(rs => {
                        if(rs.err) alert('Lỗi thêm ảnh sản phẩm')
                        LoadImgList()
                    })
                    .catch(error => console.log(error))
                }
            }
        });
    </script>
<%- include('../../layouts/adminFooter') -%>
