<%- include('../../layouts/adminHeader') -%>
    <main class="px-5 py-3">
        <h1 class="mb-3">Thêm danh mục</h1>
        <form action="/admin/category/create" method="post" enctype="multipart/form-data">
            
            <% locals.errors && errors.forEach(err => { %>
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <%= err.msg %>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            <% }); %>

            <div class="row mb-3">
                <label for="name" class="col-sm-2 col-form-label">Tên danh mục</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="name" id="name">
                </div>
            </div>

            <div class="row mb-3">
                <label for="groupId" class="col-sm-2 col-form-label">Nhóm</label>
                <div class="col-sm-10">
                    <select class="form-select" name="groupId" id="groupId">
                        <option value="0" selected> --- Chọn --- </option>
                        <% cateGroups.forEach(function (group) { %>
                            <option value="<%=group.id%>"><%=group.name%></option>
                        <% }) %>
                    </select>
                </div>
            </div>

            <div class="row mb-3">
                <label for="img" class="col-sm-2 col-form-label">Ảnh</label>
                <div class="col-sm-10">
                    <input type="file" class="form-control" name="img" id="img">
                </div>
            </div>

            <button type="submit" class="btn btn-primary">Thêm</button>
            <a class="btn btn-secondary ms-2" href="/admin/category">Trở về</a>
        </form>

    </main>
    <% if (locals.createSuccess) { %>
        <script>
            alert('Thêm mới thành công')
            window.location = '/admin/category'
        </script>
    <% } %>
<%- include('../../layouts/adminFooter') -%>
